/*******************************************
--------  ERIC MEYERS RESET CODE   --------
********************************************
 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
********************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** ************** *************** ***  ***
*****   END OF MEYERS RESET CODE *** ****
************ ********  *****  ***********/



*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
	background-image: linear-gradient(to top, #005bea 0%, #00c6fb 100%);
	width: 99%;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.margBtmXL {
	margin-bottom: 50px;
}

.margBtmL {
	margin-bottom: 35px;
}

.margBtmS {
	margin-bottom: 20px;
}

.weatherbox {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
	margin: 0 auto;

	width: 70%;
	height: 70%;
	background-color:transparent;
	box-shadow: 0px 0px 44px 2px rgba(0, 0, 0, 0.45);
	border-radius: 7px;
	text-transform: uppercase;
}

#icon,
.icn {
	width: 100px;
	height: 100px;
}

.wTemp {

	display: flex;
	flex-direction: row;
}

#temp {
	font-size: 8em;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

#degree{
	font-size: 4em;
}

#metric {
	font-size: 2em;
}

/*********** TOGGLE SWITCH *************/

.toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
}

input.round + label {
	padding: 2px;
	width: 60px;
	height: 30px;
	background-color: #dddddd;
	border-radius: 30px;
}

input.round + label:before,
input.round + label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}

input.round + label:before {
  right: 1px;
  background-color: #1ABC9C;
  border-radius: 30px;
  transition: background 0.4s;
}

input.round + label:after {
  width: 29px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}

input.round:checked + label:before {
  background-color: #3498DB;
}

input.round:checked + label:after {
  margin-left: 30px;
}

/******** END OF TOGGLE SWITCH **********/

.wDay {
	font-size: 1em;
	font-weight: 700;
}

.wCity {
	font-size: 1.7em;
	font-weight: 200;
}

.secondaryData {
	font-size: 1em;
	font-weight: 400;
}

span {
	font-weight: 700;
	margin-right: 10px;
	font-size: 1.5em;
}

.windSpeed {
	display: inline-block;
	margin-right: 30px;
	text-transform: lowercase;
}

.humidity {
	display: inline-block;
}

.sunTime {
	display: block;

}

.sunRise {
	display: inline-block;
	margin-right: 30px;
	text-transform: lowercase;
}
.sunSet {
	display:inline-block;
	text-transform: lowercase;
}

.foot {
	display: fixed;
	bottom: 0;
}
