@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Libre+Baskerville|Poppins:300,400,500|Oxygen:700');


*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
	background-color: aliceblue;
	width: 99%;
	max-height: 100%;
	font-family: 'Poppins', 'Open Sans', sans-serif;
	color: cornflowerblue;
}


#nav{
	margin: 20px 10px;
}

#today{
	margin-top: 40px;
	margin-bottom: 15px;
	text-align: center;
}

#country {
	margin: 5px auto;
	text-align: center;
	font-family: 'Libre Baskerville';
	font-size: 1.5em;
	background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#country.hover{
	background-image: linear-gradient(to left, #6a11cb 0%, #2575fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.greet {
	font-size: 3.5em;
	margin: 50px auto;
	text-align: center;
}


h2 {
	font-size: 2em;
	margin: 40px auto;
	text-align: center;
}

#conditionText {
	font-size: 1em;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}

#conditionText.hover {
	color: #1ABC9C;
	font-size: 1.2em;
}


#icon {
	width: 70px;
	height: 70px;
	margin: 10px auto;
}


/****************************************************
                    THE CARD

******************************************************/

.card-wrapper {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	border-radius: 7px;
  perspective: 800px;
	overflow: hidden;
}


.card {
  width: 100%;
	height: 100%;	
	position: absolute;
  transition: transform .5s;
  transform-style: preserve-3d;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
		          0 1px 2px rgba(0,0,0,0.24);
	border-radius: 7px;
	cursor: pointer;
	
}

.card:hover {
	
}

.card div {
  width: 100%;
	height: 100%;
	position: absolute;
  top: 0;
  left: 0;
	border-radius: 7px;
	transform-style: preserve-3d;  
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	
}

.card .back {
  transform: rotateY(180deg);
}


.card.flipped {
	transform: rotateY(180deg);
}


/********************END OF THE CARD **************/

#front,
#back {
	position: relative;
  	display: block;
}
	


#tempC,
#tempF {
	font-size: 13em;
	font-family: 'Oxygen';
	position: absolute;
	color: rgba(240, 240, 240, 0.6);
	left: -30px;
	bottom: -190px;
}

#degreeC,
#degreeF {
	font-size: 4em;
	text-decoration: none;
	color: rgba(240, 240, 240, 0.75);
	position: absolute;
	right: 0px;
	top: -90px;
}



.color_animate {  
	 color: #f35626;
   background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
	 -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-animation: hue 60s infinite linear;
}


@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.color_animate_neg {
  
	 color: #f35626;
   background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
   -webkit-animation: hue-neg 60s infinite linear;
}


@-webkit-keyframes hue-neg {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

footer{
	margin-top: 10px;
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
	text-align: center;
	
}

.me {
	margin: 5px auto;
	font-size: 1.25em;
	color: TEAL;
}

.inspire {
	margin: 10px auto;	
	color: SLATEGRAY;
}

.thanks {
	text-decoration: none;
	color: #2E4053;
}


.thanks:visited {
	color: #2E4053;
}

.thanks:hover {
	color: #E74C3C;
}





